/* Responsive Navbar */
@media (max-width: 720px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    padding: 0px 30px 0px 30px;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: -260px;
    width: 220px;
    height: 100vh;
    background: #020828;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 80px;
    transition: left 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    z-index: 1100;
    display: flex;
  }
  .nav-list ul {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .nav-list ul li {
    width: 100%;
  }
  .nav-list ul li a {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    color: #df5f15;
    border-radius: 0;
    border-bottom: 1px solid #222;
    background: none;
    text-align: left;
  }
  .nav-list ul li a:hover {
    background: #222;
    color: #b2c6d5;
  }
  .nav-list.open {
    left: 0;
  }
  .hamburger {
    display: flex;
    order: -1;
    margin-right: auto;
  }
  .nav-user-profile {
    flex-direction: row;
    justify-content: end;
  }
  nav .logo {
    display: flex;
    justify-content: start;
  }
}
